.thank-you-page {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    color: white;
}

.success-icon {
    color: green;
    font-size: 48px;
    margin-bottom: 20px;
}

.link {
    color: blue;
    text-decoration: underline;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}